<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.spring.myapp.AccidentMapper">
	<insert id="insert">
		insert into accident(accId,accInfo,regidate)
		values(#{accId},#{accInfo},now())
	</insert>
	
	<delete id="delete">
	
		delete from accident 
		<![CDATA[
			where regidate < date_sub(now(),interval 1 hour);
 		]]>
 	</delete>
	
	<select id="selectOne" resultType="Accident">
		select * from accident
		where accId = (select max(accId) from accident)
	</select>
	
	<select id="selectList" resultType="Accident">
		select * from accident
		order by accId desc
	</select>
 </mapper>