.box{
	position:relative;
}

.text{
	position : absolute;
	font-size:14px;
}

.box:hover{
	opacity : 0.7;
}


.box:hover .text{
	visibility:visible;
}

#jonglo{
	top:240px; 
	left:265px;
}

#joong{
	top:275px; 
	left:275px;
}
#yongsan{
	top:320px; 
	left:265px;
}
#seongdong{
	top:300px; 
	left:335px;
}
#gwangjin{
	top:300px; 
	left:400px;
}
#dongdaemoon{
	top:246px; 
	left:348px;
}
#joonglang{
	top:225px; 
	left:407px;
}
#seongbook{
	top:205px; 
	left:310px;
}
#gangbook{
	top:140px; 
	left:300px;
}
#dobong{
	top:90px; 
	left:330px;
}
#nowon{
	top:130px; 
	left:390px;
}
#eunpyeong{
	top:170px; 
	left:195px;
}
#seodaemoon{
	top:240px; 
	left:192px;
}
#mapo{
	top:285px; 
	left:180px;
}
#yangcheon{
	top:340px; 
	left:95px;
}
#gangseo{
	top:265px; 
	left:60px;
}
#guro{
	top:380px; 
	left:90px;
}
#geumcheon{
	top:435px; 
	left:150px;
}
#yeongdeungpo{
	top:345px; 
	left:150px;
}
#dongjak{
	top:375px; 
	left:214px;
}
#gwanak{
	top:440px; 
	left:214px;
}
#seocho{
	top:410px; 
	left:295px;
}
#gangnam{
	top:400px; 
	left:365px;
}
#songpa{
	top:370px; 
	left:425px;
}
#gangdong{
	top:300px; 
	left:470px;
}
