@charset "UTF-8";

header{
	display: flex;
	align-content: right;
	justify-content: space-around;
}

nav{
	align-content: right;
	justify-content: space-around;
	margin-right: 150px;
}

.mainImage{
	position: relative;
}

.mainImage:hover{
	opacity : 0.7;
}


.mainImage:hover .text{
	visibility:visible;
}

.title{
	position : absolute;
	font-size:80px;
	color: white;
}
#title{
	top : 115;
	left : 490;
}

/* 로그인 email */
.fa-envelope{
	color : black;
}
/* 로그인 password */
.fa-key{
	color : black;
}

#stationNav{
	display: flex;
	align-content: center;
	justify-content: space-around;
}

#map{
	width: 90%;
	height: 400px;
}


#full-width{
	max-width : 2000px;
}

.menu{
	display:flex;
	justify-content: center;
}

.menuCard{
	margin-left : 50px;
	margin-right : 50px;
	margin-bottom: 50px;
}

.banner{
	display: flex;
	justify-content: center;
}
