@charset "UTF-8";

header{
	display: flex;
	align-content: right;
	justify-content: space-between;

}

nav{
	align-content: right;
	justify-content: space-around;
	margin-right: 150px;
}

.mainImage{
	position: relative;
}

.mainImage:hover{
	opacity : 0.7;
}


.mainImage:hover .text{
	visibility:visible;
}

.title{
	position : absolute;
	font-size:80px;
	color: white;
}
#title{
	top : 115;
	left : 490;
}

/* 로그인 email */
.fa-envelope{
	color : black;
}
/* 로그인 password */
.fa-key{
	color : black;
}

#stationNav{
	display: flex;
	align-content: center;
	justify-content: space-around;
}

#map{
	width: 90%;
	height: 400px;
}


#full-width{
	max-width : 2000px;
}

.menu{
	display:flex;
	justify-content: center;
}

.menuCard{
	margin-left : 50px;
	margin-right : 50px;
	margin-bottom: 50px;
}

a.menubar{
	padding-left: 5px;
	padding-right: 5px;
}

.banner{
	display: flex;
	justify-content: center;
}

.button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button_gr {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: #008CBA; 
  color: white; 
  border: 2px solid #008CBA;
}

.button:hover {
  background-color: white;
  color: black;
}

.button_gr {
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
}

.button_gr:hover {background-color: white;}

.login{
	transform:scale(1.5);
}

.cultureStyle{
	position: absolute;
	left: 10%;
}
